
<h2>¡Bienvenido a tu Centro Médico favorito!</h2>
<section class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <img id="slide-1" src="images/hospital.jpg" alt="foto de médico" />
            <img id="slide-2" src="images/hospital2.jpg" alt="foto de médico" />
            <img id="slide-3" src="images/hospital1.jpg" alt="foto de médico" />
        </div>
        <div class="slider-nav">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
        </div>
    </div>

</section>