<h2>NUEVA CITA MEDICA</h2>
<main id="mainCitas">
<div class="info2">
<label for="cedula">Cédula</label>
<select id="cedula" name="cedula" required>
    <option value=""> ----------- Seleccione la cédula -----------------</option>
        {{#each pacientes}}
            <option value="{{cedula_paciente}}">{{cedula_paciente}}</option>
        {{/each}}
</select>
</div>    

<div class="info2">
<label for="fecha">Fecha</label>
<input type="date" id="fecha" name="fecha" value="2023-07-07" min="2023-07-07" required>
</div>

<div class="info2">
<label for="especialidad">Especialidad requerida</label>
<select id="especialidad" name="especialidad" required>
    <option value=""> ---------- Seleccione la especialidad ----------</option>
    {{#each medicos}}
    <option value="{{especialidad}}">{{especialidad}}</option>
    {{/each}}
</select>
</div>

<div class="container-buttons">
    <div class="buttons">
        <input type="submit" class="button-34" value="Enviar">
        <a class="button-34"  id="volver" href="/citas">Volver</a>            
    </div>
</div>
</main>